header{
    text-align: center;
    background-color: orangered;

}
article img{
    width: 250px;
    
}
article{
    width: 250px;
    border: 1px solid rgb(102, 100, 100);
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(152, 154, 156) 0px 20px 30px -10px;
    background-color: rgb(241, 241, 247);
    
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    

}
section{
    display: flex;
    gap: 20px;
    
}
article:hover{
/* -webkit-transform: scale(1.3); */
    transform: scale(1.09);
}
button{
    background-color: orangered;
    border-color: rgb(12, 11, 10);
    color: white;
}