header {
  text-align: center;
  background-color: orangered;
  margin-bottom: 20px;
  padding-top: 5px;
}

article img {
  width: 250px;
}

article {
  width: 250px;
  height: 500px;
  border: 1px solid rgb(102, 100, 100);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(152, 154, 156) 0px 20px 30px -10px;
  background-color: rgb(243, 237, 232);
  justify-content: space-between;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  line-break: auto;
  width: 100%;
  flex-wrap: wrap;
}

article p {
  text-align: justify;
}

article:hover {
  transform: scale(1.02);
}

a {
  display: inline-block;
  margin: 20px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid orangered;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

a:hover {
  box-shadow: inset 0 -100px 0 0 orangered;
}

button:active {
  transform: scale(0.9);
}
/* a {
  text-decoration: none;
  color: black;
} */
footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
